---
Checks: "-*,\
cert-*,\
misc-*,\
modernize-*,\
-modernize-raw-string-literal,\
-modernize-return-braced-init-list,\
-modernize-use-auto,\
-modernize-use-default-member-init,\
-modernize-use-equals-default,\
-modernize-use-equals-delete,\
-modernize-use-trailing-return-type,\
performance-*,\
readability-*,\
cppcoreguidelines-*,\
"
HeaderFilterRegex: '.*'
...
