#
#NOTE: allway check first the cert rules only! CK
#
Checks:
'-*,
    boost-*,
    bugprone-*,
    cert-*,
    -cert-env33-c,
    -cert-err58-cpp,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-*,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    misc-*,
    modernize-*,
    -modernize-use-*,
    -modernize-avoid-c-arrays,
    performance-*,
    portability-*,
    readability-*,
'

#
#TODO: path to your project headers only! CK
#
HeaderFilterRegex:
    '.*'

#TBD: this is realy pedantic! CK
WarningsAsErrors:
    'clang-diagnostic-error'
