#
#NOTE: allway check first the cert rules only! CK
#
Checks:
'-*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-*,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-*,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-special-member-functions,
    hicpp-*,
    -hicpp-no-array-decay,
    -hicpp-signed-bitwise,
    -hicpp-vararg,
    google-*,
    misc-*,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    -performance-avoid-endl,
    portability-*,
    readability-*,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -*avoid-c-arrays,
    -*macro-to-enum,
    -*magic-numbers,
    -*narrowing-conversions,
'

HeaderFilterRegex:
    '.*'

WarningsAsErrors:
    'clang-*'
