# =============================================================================
# PYTHON PACKAGES (PIP)
# =============================================================================
# USE (python3): pip3 install -U -r <THIS_FILE_NAME>
# =============================================================================

builddriver==0.9.0
bumpversion>=0.6.0
cmake-format>=0.6.13
cmake>=3.27
gcovr>=6.0
ninja>=1.11
tftpy>=0.8.2
wheel>=0.40.0
